<div class="p-3 p-lg-4 h-100 d-flex flex-column border-end border-secondary" data-bs-theme="dark">
	<div class="card border-0 rounded-0 mb-3">
		<div class="card-body d-flex justify-content-start align-items-center">
			<i class="bi bi-graph-up-arrow rounded-2 px-2 py-1 bg-success"></i>
			<div class="ms-2">
				<span class="d-block">FinControl</span>
				<span class="d-block small text-body" style="font-size: .6em;">Gestão Financeira</span>
			</div>
		</div>
	</div>
	<div class="list-group list-group-flush mb-3 mt-4">
		<a href="{% url 'contas:dashboard' %}"
			class="list-group-item list-group-item-action rounded{% if request.path == '/dashboard/' %} bg-secondary text-green{% else %} text-white{% endif %} border-0 mb-2"
			id="dashboard-link">
			<i class="bi bi-bar-chart-steps me-2"></i>
			Dashboard
		</a>
		<a href="{% url 'contas:listar_contas' %}"
			class="list-group-item list-group-item-action rounded{% if request.path == '/contas/' %} bg-secondary text-green{% else %} text-white{% endif %} border-0 mb-2"
			id="contas-link">
			<i class="bi bi-back me-2"></i>
			Contas
		</a>
		<a href="{% url 'contas:listar_transacoes' %}"
			class="list-group-item list-group-item-action rounded{% if request.path == '/transacoes/' %} bg-secondary text-green{% else %} text-white{% endif %} border-0 mb-2"
			id="transacoes-link">
			<i class="bi bi-arrow-left-right me-2"></i>
			Transações
		</a>
		<a href="{% url 'contas:listar_categorias' %}"
			class="list-group-item list-group-item-action rounded{% if request.path == '/categorias/' %} bg-secondary text-green{% else %} text-white{% endif %} border-0 mb-2"
			id="categorias-link">
			<i class="bi bi-bookmark-check me-2"></i>
			Categorias
		</a>
		<a href="{% url 'contas:listar_orcamentos' %}"
			class="list-group-item list-group-item-action rounded{% if request.path == '/orcamentos/' %} bg-secondary text-green{% else %} text-white{% endif %} border-0 mb-2"
			id="orcamentos-link">
			<i class="bi bi-graph-up-arrow me-2"></i>
			Orçamentos
		</a>
	</div>
	<div class="mt-auto">
		<div class="card bg-secondary-subtle border-0 rounded-3">
			<div class="card-body px-2">
				<div class="d-flex align-items-center justify-content-between">
					<span class="text-light d-flex flex-row align-items-center justify-content-start me-2">
						<span class="rounded-circle bg-secondary d-flex align-items-center justify-content-center me-2" style="width: 2.5em; height: 2.5em;">
							<i class="bi bi-person" style="font-size: 1.5em;"></i>
						</span>
						{{ user.username }}
					</span>
					<button type="button" class="btn btn-sm" data-bs-toggle="modal"
						data-bs-target="#logoutModal" aria-label="Sair">
						<i class="bi bi-box-arrow-right fs-5" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>