{% extends "base.html" %}

{% block title %}Minhas Contas{% endblock %}

{% block content %}
<h1>Minhas Contas > {{ conta.nome }}</h1>

<p><strong>Usuario:</strong> {{ transacao.usuario }}</p>
<p><strong>Conta:</strong> {{ transacao.conta }}</p>
<p><strong>Tipo:</strong> {{ transacao.tipo }}</p>
<p><strong>Valor:</strong> {{ transacao.valor }}</p>
<p><strong>Data:</strong> {{ transacao.data }}</p>
<p><strong>Paga:</strong> {{ transacao.paga }}</p>
<p><strong>Descrição:</strong> {{ transacao.descricao }}</p>
<p><strong>Parcela:</strong> {{ transacao.parcela }}</p>
<p><strong>Parcela Número:</strong> {{ transacao.parcela_numero }}</p>
<p><strong>Total Parcelas:</strong> {{ transacao.total_parcelas }}</p>
<p><strong>Recorrente:</strong> {{ transacao.recorrente }}</p>
<p><strong>Criada em:</strong> {{ transacao.criada_em }}</p>
<p><strong>Atualizada em:</strong> {{ transacao.atualizada_em }}</p>
{% endblock %}