{% extends "base.html" %}

{% block title %}Minhas Categorias{% endblock %}

{% block content %}
<h1>Minhas Categorias</h1>

<a href="{% url 'contas:nova_categoria' %}">Nova Categoria</a>

<ul>
    {% for categoria in categorias %}
        <li>
            {{ categoria.nome }}:{{ categoria.criada_em }}
            <a href="{% url 'contas:ler_categoria' categoria.id %}">Ver</a>
            <a href="{% url 'contas:atualizar_categoria' categoria.id %}">Editar</a>
            <a href="{% url 'contas:deletar_categoria' categoria.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}